.signup
	width: 360px
	height: 360px
	&__header
		background: #f5f5f5
		padding: 15px 0
		border-top-left-radius: 5px
		border-top-right-radius: 5px
	&__title
		text-align: center
		color: #333333
		font-weight: 700
		text-transform: capitalize
		font-size: 1.25rem
		&--orange
			color: #ff8b38
	&__form

	&__btn
