.pricing
	background: #f5f5f5
	&__flex
		padding: 100px 0
	&__header
		display: flex
		flex-direction: column
		align-items: center
	&__title
		font-size: 2.25rem
		font-weight: 400
		font-family: Raleway
		color: #212121
		text-transform: uppercase
		position: relative
		padding-bottom: 60px
		&:after
			content: ''
			left: 42%
			position: absolute
			bottom: 30px
			width: 64px
			height: 2px
			background: #ff8b38
	&__desc
		font-size: 0.875rem
		color: #86878b
	&__payments
		padding-top: 80px
		display: flex
		justify-content: space-between
		align-items: flex-end
		position: relative
		transition: all .25s
	&__payment
		width: 31%
		text-align: center
	&__payment-header
		background: #333
		border-bottom: 5px solid #ff8b38
	&__payment-title
		font-size: 1.25rem
		text-transform: capitalize
		border-bottom: 1px solid #f5f5f5
		padding: 18px
	&__payment-price
		font-family: Raleway
		font-weight: 700
		font-size: 2.188rem
		&--number
			font-size: 5.875rem
	&__payment-desc
		font-weight: 600
		font-style: italic
		opacity: .5
		font-size: 0.875rem
		padding-bottom: 20px
	&__payment-info
		background: #fff
	&__payment-list
		list-style-type: none
	&__payment-item
		font-size: 0.875rem
		color: #86878b
		text-transform: uppercase
		border-bottom: 1px solid #f5f5f5
		padding: 12px 0
		transition: all .25s
		cursor: pointer
		&:first-child
			border-top: 1px solid #f5f5f5
		&:last-child
			border-bottom: none
		&:hover
			background: #bbb
			color: #fff
	&__most-popular
		padding: 10px 0
		font-weight: 700
		font-size: 0.875rem
		background: #ff8b38
		text-transform: uppercase
	// &__selected
	// 	min-width: 300px
	// 	margin: 0 50px
	// &__unselected
	// 	min-width: 300px
	// 	position: relative
	// 	&:after
	// 		content: ''
	// 		position: absolute
	// 		left: 0
	// 		top: 0
	// 		width: 100%
	// 		height: 100%
	// 		display: block
	// 		background: #fff
	// 		opacity: .7
	// 	&:first-child

	&__slider-arrows
		display: none
		position: absolute
		top: 50%
		width: 100%
		max-width: 600px
		justify-content: space-around
	&__slider-arrow
		color: #000
		font-size: 5rem
		cursor: pointer
	&__slider
		margin: 0 auto
		margin-top: 80px
		position: relative
		height: 500px
		max-width: 600px
		overflow: hidden

@media only screen and (min-width: 601px) and (max-width: 767px)
	.pricing
		&__payments
			padding-top: 0
			white-space: nowrap
			align-items: center
			position: absolute
			left: -225px
			top: 0
		&__slider-arrows
			display: flex

@media only screen and (max-width: 600px)
	.pricing
		&__payment
			min-width: 100%!important
		&__payments
			left: 0
			top: 0
		&__slider
			width: 100%
			max-width: 100%
			height: 100%
			margin-top: 20px
		&__slider-arrows
			display: flex
			justify-content: space-between
			padding: 0 30px
		&__flex
			padding-bottom: 0
